@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";
h1 {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
}

body {
    background-color: $primary-background-color;
}

.up {
    @include split-vertical();
    background-color: $ingredients-page;
    margin-bottom: 2%;
}

.down {
    @include split-vertical();
    background-color: white;
    margin-top: 2%;
}

/* Control the left side */

.left {
    @include split-horizontal();
    background-color: $search-bar-color;
    margin-left: 4.5%;
    margin-right: 0.5%;
    // box-sizing: border-box;
    vertical-align: top;
}

/* Control the right side */

.right {
    @include split-horizontal();
    margin-right: 4.5%;
    margin-left: 0.5%;
    box-sizing: border-box;
    background-color: $primary-background-color;
}

.save-bttn {
    @include secondary-button();
    margin-top: 20px;
    padding: 5px 30px;
    margin-left: 45%;
}

.plus-bttn {
    @include secondary-button();
    margin-left: 2%;

    mat-icon {
        margin-top: -5px;
        font-size: 24px;
    }
}

mat-form-field {
    background-color: $white-transparent;
    border-radius: 25px;
    height: 20px;
}

.input {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 20px;
}

.input-smaller {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 15px;
    width: 100px;
}

input:focus {
    outline: none;
}

input-smaller:focus {
    outline: none;
}

.form-field {
    position: relative;
    background-color: $white-transparent;
    z-index: 1;
    width: 200px;
    border-radius: 25px;
    top: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.form-field-smaller {
    background-color: $white-transparent;
    z-index: 1;
    width: 200px;
    border-radius: 25px;
    margin: auto;
}

label {
    padding: 0 15px;
}

select {
    margin-top: 10px;
    border-radius: 25px;
    vertical-align: auto;
}

textarea {
    border-radius: 25px;
    display: block;
    margin: auto;
    resize: none;
    width: 90%;
    background-color: $white-transparent;
    border: none;
    margin-bottom: 20px;
}

.field {
    background-color: $white-transparent;
    z-index: 1;
    width: 90%;
    border-radius: 25px;
    top: 20px;
    margin: auto;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

.ingredients-overview-left {
    height: 70%;
    width: 45%;
    display: inline-block;
    border-radius: 25px;
    background-color: $white-transparent;
    margin-left: 4.5%;
    margin-right: 0.5%;
    box-sizing: border-box;
}

.utensils-overview-right {
    height: 70%;
    width: 45%;
    display: inline-block;
    border-radius: 25px;
    margin-right: 4.5%;
    margin-left: 0.5%;
    box-sizing: border-box;
    background-color: $white-transparent;
}
