@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';
@import 'src/styles.scss';

.recipes-widget {
    width: 100%;
    height: 100%;
}

.font {
    @include font;
    @include thick;
    font-size: 18px;
    color: black;
}

.title {
    margin-top: 10px;
    font-size: 1.5vw;
}

.header-area {
    width: 95%;
    margin: auto;

    .search-input {
        display: inline-block;
        position: relative;
        margin: auto 10px auto 0;
        min-width: 16%;
        height: 32px;
    }

    .secondary-button {
        top: 2px;
        width: 10%;
    }
}

.long-black-separator {
    background-color: black;
    width: 95%;
    height: 0.5%;
    margin-top: 5px;
    margin-bottom: 6px;
}

.recipes-container {
    position: relative;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow: auto;
    height: 63%;

    app-recipe-card {
        flex: none;
        width: 31.3333%;
        height: 255px;
        cursor: pointer;
        overflow: hidden;
    }
}

.recipe-card {
    width: 31.3333%;
    height: 255px;
    margin: 10px 1%;
    &.hover {
        button {
            display: inline;
        }
    }
}

.create-button{
    @include primary-button;
    position: relative;
    width: 17%;
    margin-top: 5px;
}

.extra-buttons-column {
    display: none;
    float: right;
    right: 5px;
    top: -255px;
    position: relative;

    .extra-button-container {
        margin: 5px 0 5px 0;
        display: flex;
        justify-content: center;
        width: 60px;
        .extra-button {
            background-color: white;
            border: 1px solid black;
        }
    }
}

.recipe-card-content{
    height: 255px;
}

.recipe-card-content:hover {
    .extra-buttons-column {
        display: inline;
    }
}

.extra-button-container:hover {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: $primary-color-transparent; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: $primary-color; 
}