@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';
@import 'src/styles.scss';

.title {
    @include font;
    @include thick;
    color: black;
    font-size: 144px;
    margin-top: 70px;
}

.description {
    @include font;
    @include thick;
    color: black;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 40px;
    width: 60%;
}

.secondary-button {
    @include thick;
    margin-top: 20px;
    width: 10%;
}

.search-input {
    display: inline-block;
    height: 32px;
    min-width: 16%;
}

.crop-image {
    object-fit: cover;
    height: 230px;
}
