<div class="flex-column-center">
    <img class="crop-image" src="{{landingPageImage}}" alt="Recipes Image">
    <span class="title">{{appTitle}}</span>
    <div class="description margin-lr-auto">
        {{description}}
    </div>
    <div class="search-input margin-lr-auto">
        <mat-icon class="search-icon" aria-hidden="false" aria-label="search icon">search</mat-icon>
        <input [formControl]="searchText" class="search-bar-input" placeholder="{{searchPlaceHolder}}" autocomplete="off">
    </div>
    <button mat-raised-button class="font secondary-button margin-lr-auto" (click)="search()">
        {{searchBtn}}
    </button>
</div>
