mat-form-field, .email{
    width: 96%;
}

.field{
    border-radius: 25px;
    border: 1px solid grey;
}

input {
    font-size: 16px;
    background-color: transparent;
    padding: 10px 0 10px 10px;
    width: 80%;
}

h1{
    text-align: center;
    font-weight: bold;
}

.button-password{
    float: right;
}

.button{
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

button:disabled,
button[disabled]{
  border: 1px solid gray;
  background-color: gray;
}

::ng-deep.mat-form-field-empty.mat-form-field-label{
    margin-top: 8px !important;
    margin-left: 5px !important;
}

::ng-deep.mat-error{
    margin-left: 5px !important;
}

::ng-deep.mat-form-field-label:not(.mat-form-field-empty){
    margin-left: 5px !important;
}

::ng-deep.mat-form-field.mat-focused .mat-form-field-label{
    color: black !important;
    margin-top: 0 !important;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none !important;
}