<div class="toolbar" role="banner">
    <div class="app-title">
        <span class="font">{{appTitle}}</span>
    </div>
    <div>
        <a class="font link"
           [ngClass]="{'active-tab': this.headerLinks.get(homeLink)}"
           (click)="setActiveTab(homeLink)">{{homeLink}}</a>
        <a class="font link"
           [ngClass]="{'active-tab': this.headerLinks.get(recipesLink)}"
           (click)="setActiveTab(recipesLink)">{{recipesLink}}</a>
    </div>
    <div class="credential-buttons">
        <button mat-raised-button class="font primary-button">
            {{registerBtn}}
        </button>
        <button mat-raised-button class="font secondary-button">
            {{loginBtn}}
        </button>
    </div>
</div>
