@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';
@import 'src/styles.scss';

.font {
    @include font;
    @include thick;
    color: black;
}

.link {
    width: 31.3333%;
    @include thick;
    margin: 0 1%;
}

.links{
    width: 30%;
}

.links > a {
    width: 31.3333%;
    margin: 0 1%;
    display: inline-block;
    text-decoration: none;
    overflow: hidden;
}

.inactive-tab {
    color: black;
}

.active-tab {
    color: $primary-color;
}

.toolbar {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: $secondary-background-color;
    position: relative;
    overflow: hidden;
}

.app-title {
    position: absolute;
    left: 20px;
    top: 23px;
    width: 10%;
    overflow: hidden;
}

.credential-buttons {
    position: absolute;
    right: 0;
    top: 9px;
    width: 28%;
}

.primary-button {
    @include primary-button;
    width: 45%;
    margin-right: 2%;
    overflow: hidden;
}

.secondary-button {
    @include secondary-button;
    width: 45%;
    overflow: hidden;
}

a:hover {
    cursor: pointer;
}