<body>

    <h1>{{pageTitle}}</h1>
    <div class="left">

        <div class="form-field">
            <input [formControl]="title" class="input" text-align="center" placeholder="{{titlePlaceHolder}}">
        </div>

        <table>
            <colgroup>
                <col width="25%">
                <col width="25%">
                <col width="17%">
                <col width="8%">
                <col width="25%">
            </colgroup>
            <tr>
                <td>
                    <label class="form-field-smaller">{{ingredient}}</label>
                </td>
                <td>
                    <span class="form-field-smaller">
                        <input [formControl]="ingredientName" class="input-smaller">
                    </span>
                </td>
                <td>
                    <span class="form-field-smaller">
                        <input type="number" [formControl]="amount" class="input-smaller">
                    </span>
                </td>
                <td colspan="2">
                    <select [formControl]="quantity">
                        <option value="g">{{g}}</option>
                        <option value="kg">{{kg}}</option>
                        <option value="ml">{{ml}}</option>
                        <option value="l">{{l}}</option>
                    </select>

                    <button (click)="addIngredient();" mat-raised-button class="add-button">+</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-field-smaller">{{utensil}}</label>
                </td>
                <td colspan="4">
                    <span class="form-field-smaller">
                        <input [formControl]="utensilName" id="utensil-name">
                    </span>
                    <button (click)="addUtensil();" mat-raised-button class="add-button-utensil">+</button>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="form-field-smaller">{{timeTitle}}</label>
                </td>
                <td>
                    <span class="form-field-smaller">
                        <input type="number" [formControl]="time" class="input-smaller">
                    </span>
                </td>
                <td>
                    <label class="form-field-smaller">{{difficultyTitle}}</label>
                </td>
                <td colspan="2">
                    <select [formControl]="difficulty" name="Difficulty">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
        </table>

        <div class="field">
            <p>{{instructionsTitle}}</p>
            <textarea [formControl]="instructions" rows="8" cols="85">
          </textarea>
            <br>
        </div>

        <div class="field">
            <p>{{notesTitle}}</p>
            <textarea [formControl]="notes" rows="6" cols="85">
          </textarea>
            <br>
        </div>
    </div>

    <div class="right">

        <div class="up">
            <h2>{{ingredientsUtensilsTitle}}</h2>
            <div id="#ingredientsContainer" class="ingredients">
                <h3>{{ingredientsTitle}}</h3>
                <div *ngFor="let ingredient of ingredientsList" class="element">
                    <span class="ingredient-name">{{ingredient.ingredientName}}</span>
                    <span class="ingredient-name">{{ingredient.amount}}</span>
                    <span class="ingredient-name">{{ingredient.measurementUnit}}</span>
                    <button class="mat-raised-button delete-button" (click)="removeIngredient(ingredient)">x</button>
                </div>
            </div>
            <div id="utensilsContainer" class="utensils">
                <h3>{{utensilsTitle}}</h3>
                <div *ngFor="let utensil of utensilsList" class="element">
                    <span class="ingredient-name">{{utensil.utensilName}}</span>
                    <button class="mat-raised-button delete-button" (click)="removeUtensil(utensil)">x</button>
                </div>
            </div>
        </div>

    </div>

    <button (click)="saveRecipe();" mat-raised-button class="save">
        {{saveBtn}}
    </button>
</body>
