

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile 
        *ngFor="let tile of tiles" 
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list> -->
<body>
  <h1>Recipe Creation</h1>
  <div class="left">
   
      <div class="form-field">
        <input class="input" text-align="center" placeholder="Recipe Title">
      </div>


   <br>
      
        <span>
          &nbsp;
        <label class="form-field">
          Ingredients: </label>&nbsp;&nbsp;
        
        <label class="form-field">
          <input class="input-smaller" >
        </label>&nbsp;&nbsp;
        
        <label class="form-field">
          <input class="input-smaller">
        </label>&nbsp;&nbsp;


        <select name="quantity" id="quantity">
          <option value="g">g</option>
          <option value="kg">kg</option>
          <option value="ml">ml</option>
        </select>

        </span>
        

  </div>


  
  
  <div class="right">
    
      <div class="up">
  
      </div>
      <div class="down">

      </div>
   
  </div>

  <button class="save">

    SAVE

  </button>

  </body>