@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

h1 {
  text-align: center;
}

body {
  background-color: $primary-background-color;
}

.up {
  @include split-vertical();
  background-color: $ingredients-page;
}
.down {
  @include split-vertical();
  background-color: white;
}

/* Control the left side */
.left {
  @include split-horizontal();
  background-color: $search-bar-color;  
  margin-left: 20px;
  box-sizing: border-box;
}

/* Control the right side */
.right {
  @include split-horizontal();
  margin-right: 20px;
  box-sizing: border-box;
  
}
