@import '../../../styles/variables.scss';

.container {
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: 25px;
 }

 .difficulty {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 1000;
    padding: 0 5px;
    background-color: $primary-color;
    color: white;
    font-weight: bold;
    border-radius: 25px;
 }

 .title {
    position: absolute;
    bottom: 2px;
    z-index: 1000;
    background-color: $recipe-title-background;
    font-weight: bold;
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 30px;
 }

 img{
    width: 100%;
    height: 250px;
 }

 .rating{
    float: right;
    margin-right: 10px;
    position: relative;
 }

 .nr{
    position: absolute;
    top: 3px;
    left: -25px;
 }