@import 'variables.scss';

@mixin font {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    word-spacing: 2px;
    text-align: center;
}

@mixin thick {
    font-weight: bold;
}

@mixin primary-button {
    overflow: hidden;
    font-size: 1.1vw;
    background-color: $primary-color;
    color: white;
    border: 3px solid $primary-color;
    border-radius: 25px;
}

@mixin secondary-button {
    overflow: hidden;
    font-size: 1.1vw;
    background-color: white;
    color: $primary-color;
    border: 3px solid $primary-color;
    border-radius: 25px;
}

@mixin split-horizontal {
    height: 82%;
    width: 45%;
    display: inline-block;
    border-radius: 25px;
}



@mixin split-vertical {
    height: 49%;
    width: 100%;
    border-radius: 25px;
}

@mixin background{
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 25px;
    background-color: $white-transparent;
}
