@mixin primary-button {
    background-color: $primary-color;
    color: white;
    border: 3px solid $primary-color;
    border-radius: 25px;
}

@mixin secondary-button {
    background-color: white;
    color: $primary-color;
    border: 3px solid $primary-color;
    border-radius: 25px;
}





@mixin split-horizontal {

    height: 85%;

    width: 45%;

    display: inline-block;

    border-radius: 25px;

}



@mixin split-vertical {

    height: 49%;

    width: 100%;

    border-radius: 25px;

}