$font-family: Arial;

/*
App color palette
 */

$primary-color: #e98074;
$primary-color-transparent: rgba(
    $color: #e98074,
    $alpha: 0.75,
);
$secondary-color: #f0b17e;
$primary-background-color: #fbf7eb;
$secondary-background-color: white;
$search-bar-color: rgba(
    $color: #f0b17e,
    $alpha: 0.5,
);
$recipe-title-background: rgba(
    $color: #ffffff,
    $alpha: 0.7,
);
$ingredients-page: rgba(
    $color: #e98074,
    $alpha: 0.5,
);
$white-transparent: rgba(
    $color: white,
    $alpha: 0.7,
);
