$font-family: Arial;

/*
App color palette
 */

$primary-color: #E98074;
$primary-color2: rgba($color:#E98074, $alpha:0.75);
$secondary-color: #F0B17E;

$primary-background-color: #FBF7EB;
$secondary-background-color: white;

$search-bar-color:  rgba($color: #F0B17E, $alpha: 0.5);
$recipe-title-background: rgba($color: #FFFFFF, $alpha: 0.7);
$ingredients-page:  rgba($color:#E98074, $alpha:0.5);
$white-transparent: rgba($color:white, $alpha: 0.7);

