@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';
@import 'src/styles.scss';

.profile-cover {
    object-fit: cover;
    height: 140px;
    z-index: 1;
}

.horizontal-separator {
    background-color: white;
    height: 60px;
    z-index: 2;

    .profile-name {
        @include thick;
        font-size: 36px;
        position: fixed;
        left: 330px;
        top: 220px;
        z-index: 3;
    }
}

.small-black-separator {
    background-color: black;
    height: 0.5%;
}

.border {
    background-color: white;
    position: fixed;
    left: 80px;
    top: 125px;
    width: 200px;
    height: 200px;
    z-index: 3;

    .profile-picture {
        position: relative;
        margin-top: 5px;
        width: 190px;
        height: 190px;
        z-index: 3;
    }
}

.page {
    height: 100%;
    width: 100%;
}

.menu {
    background-color: white;
    width: 300px;
    height: 100%;
    left: 30px;
    position: fixed;
    z-index: 0;
}

.option-display {
    background-color: white;
    position: fixed;
    height: 60%;
    width: 76%;
    left: 350px;
    top: 280px;
    border-radius: 25px;
}

.options-menu {
    position: fixed;
    width: 260px;
    height: 45%;
    left: 50px;
    top: 365px;
}

.option {
    @include thick;
    font-size: 18px;
    padding-top: 15px;
    &:hover {
        cursor: pointer;
    }
}

.active-option {
    color: $primary-color;
}
