@import 'src/app/styles/variables.scss';
@import 'src/app/styles/mixins.scss';
@import 'src/styles.scss';

.profile-cover {
    object-fit: cover;
    height: 140px;
    z-index: 1;
}

.horizontal-separator {
    background-color: white;
    height: 60px;
    z-index: 2;

    .profile-name {
        @include thick;
        font-size: 2.5vw;
        position: fixed;
        left: 27%;
        top: 220px;
        z-index: 3;
    }
}

.small-black-separator {
    background-color: black;
    height: 0.5%;
}

.border {
    background-color: white;
    position: fixed;
    left: 6%;
    top: 125px;
    width: 16%;
    height: 27%;
    z-index: 3;

    .profile-picture {
        position: relative;
        margin-top: 5px;
        width: 90%;
        height: 90%;
        z-index: 3;
    }
}

.page {
    height: 90%;
    width: 100%;
}

.menu {
    background-color: white;
    width: 23%;
    height: 100%;
    left: 2.5%;
    position: fixed;
    z-index: 0;
}

.option-display {
    background-color: white;
    position: fixed;
    height: 60%;
    width: 72%;
    left: 27%;
    top: 280px;
    border-radius: 25px;
}

.options-menu {
    position: fixed;
    width: 20%;
    height: 45%;
    left: 4%;
    top: 365px;
}

.option {
    @include thick;
    font-size: 1.5vw;
    padding-top: 15px;
    &:hover {
        cursor: pointer;
    }
}

.active-option {
    color: $primary-color;
}
