@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.left{
    @include split-horizontal();
    margin-top: 20px;
    margin-left: 4.5%;
    margin-right: 0.5%;
    vertical-align: top;
}

.right{
    @include split-horizontal();
    margin-top: 20px;
    margin-left: 0.5%;
    margin-right: 4.5%;
    background-color: $ingredients-page;
    overflow-y: scroll;
}

.up{
    @include split-vertical();
    margin-bottom: 2%;
}

.down{
    @include split-vertical();
    margin-top: 2%;
    background-color: $search-bar-color;
    overflow: auto;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.title{
    @include background();
    text-align: center;
    padding: 5px 0;
    font-size: 2vw;
    font-weight: bold;
}

.subtitle{
    margin-top: 10px;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.details{
    @include background();
    top: 50px;
    height: 80%;
    overflow-y: auto;
}

.container{
    min-height: 49%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.difficulty, .preparation-time, .portions{
    width: 28%;
}

.preparation-time, .portions{
    text-align: center;
}

.rating{
    text-align: right;
    width: 15%;
}

.ingredients{
    width: 60%;
    margin-right: 3%;
    background-color: $white-transparent;
    border-radius: 25px;
}

.utensils{
    width: 37%;
    background-color: $white-transparent;
    border-radius: 25px;
}

.instructions{
    @include background();
    min-height: 22%;
    padding: 0 25px;
    box-sizing: border-box;
}

.inside{
    margin-bottom: 20px;
    white-space:pre-line;
}

.notes{
    @include background();
    min-height: 22%;
    padding: 0 25px;
    box-sizing: border-box;
}

p{
    margin-left: 30px;
}

.header{
    font-weight: bold;
    padding: 0 40px;
    margin-top: 15px;
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

mat-icon{
    vertical-align: middle;
    width: 20% !important;
    height: 100% !important;
    font-size: 2.3vw !important;
}

#rating-icon{
    width: 40% !important;
}

button{
    @include secondary-button();
    line-height: 20px;
}

.review-cards {
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px 10px 10px;

    app-review-card {
        flex: none;
        width: 100%;
        overflow: hidden;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: $primary-color-transparent; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: $primary-color; 
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 20px; 
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 20px;
}
