@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


body{
    background-color: $primary-background-color;
    text-align: center;
    overflow: hidden;
}

input:focus {
    outline: none;
}

.search-input {
    display: inline-block;
    position: relative;
    top: 15px;
    height: 32px;
}

.filter-button{
    position: relative;
    top: 12px;
    padding: 0;
    border: none;
    background: none;
    margin-left: 15px;
    font-weight: bold;
}

.recipe-cards {
    position: relative;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 10px 0 10px;
    overflow-y: scroll;
    height: 85%;

    app-recipe-card {
        flex: none;
        width: 33.33%;
        cursor: pointer;
        overflow: hidden;
    }
}

.secondary-button {
    @include secondary-button;
    position: relative;
    top: 30px;
    width: 150px;
    margin: 0 10px 0 10px;
}
