@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';


body{
    background-color: $primary-background-color;
    text-align: center;
    overflow: hidden;
}

.search-button{
    margin-top: 10px;
    @include secondary-button();
}

.search-bar{
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> recipesPage
    background-color: $search-bar-color;
    display: inline;
    z-index: 1000;
    width: 200px;
    border: 1px solid black;    
    border-radius: 25px;
}

<<<<<<< HEAD
.search-bar-input{
=======
mat-icon{
    position: absolute;
}

.search-bar-input{
    margin-left: 20px;
>>>>>>> recipesPage
    background-color:  transparent;
    border: none;
    color:black;
}

input:focus {
    outline: none;
}

.filter-button{
    padding: 0;
    border: none;
    background: none;
    margin-left: 5px;
    font-weight: bold;
}

.recipe-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 10px 0 10px;
    overflow-y: scroll;
    height: 85%;

    app-recipe-card {
        flex: none;
        width: 33.33%;
        cursor: pointer;
        overflow: hidden;
    }
}