<body>
    <br>
    <div class="search-input margin-lr-auto">
        <mat-icon class="search-icon" aria-hidden="false" aria-label="search icon">search</mat-icon>
        <input class="search-bar-input" placeholder="{{searchPlaceHolder}}" autocomplete="off">
    </div>
    <button class="font filter-button">
        {{filterBtn}}
    </button> 
    <button [routerLink]="['create']" mat-raised-button class="font create-button margin-lr-auto">
        {{createBtn}}
    </button>
    <br>
    <button mat-raised-button class="font secondary-button margin-lr-auto">
        {{searchBtn}}
    </button>
    <div class="recipe-cards">
        <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe" [routerLink]="['details', recipe.recipeId]">
        </app-recipe-card>
    </div>
</body>
